apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "pictshare.fullname" . }}
  labels:
    {{- include "pictshare.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{ include "pictshare.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Egress
  egress:
    - ports:
        - port: 53
          protocol: UDP
        - port: 53
          protocol: TCP
    - to:
        - namespaceSelector:
            matchLabels:
              name: {{ .Release.Namespace }}
        - ipBlock:
            cidr: 0.0.0.0/0
            except:
              - 10.0.0.0/8
              - 100.64.0.0/10
              - 172.16.0.0/12
              - 192.0.0.0/24
              - 198.18.0.0/15
              - 192.168.0.0/16
